<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832587200514-jg4ja6sajkh3cstnegqd2goa13beh5nu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832587200514-jg4ja6sajkh3cstnegqd2goa13beh5nu</string>
	<key>API_KEY</key>
	<string>AIzaSyDoEvfCYSY0bTzqmRZNxxQfsY3i1vR7Cog</string>
	<key>GCM_SENDER_ID</key>
	<string>832587200514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackngo</string>
	<key>PROJECT_ID</key>
	<string>trackngo-d7aa0</string>
	<key>STORAGE_BUCKET</key>
	<string>trackngo-d7aa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832587200514:ios:8f6f6028a35af54e614f1b</string>
</dict>
</plist>